<nav class="navbar navbar-expand-md navbar-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item"><a class="logo" [routerLink]="['/']">Te Orienta!</a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li *ngIf="authService.isUserAdmin()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item"><a class="nav-link" name="dashboard" [routerLink]="['/dashboard']" style="color: #EEE7D4;">Dashboard</a></li>
            <li *ngIf="authService.isUserAdmin()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item"><a class="nav-link" name="navbarAnnouncement" [routerLink]="['/announcements']" style="color: #EEE7D4;">Editais</a></li>
            <li *ngIf="authService.loggedIn() && !authService.isUserAdmin()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item"><a class="nav-link" name="listAnnouncement" [routerLink]="['/feed-announcement']" style="color: #EEE7D4;">Editais Disponíveis</a></li>
            
            <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item"><a class="nav-link" name="login" [routerLink]="['/login']" style="color: #EEE7D4;">Login</a></li>
            <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item"><a class="nav-link" name="register" [routerLink]="['/register']" style="color: #EEE7D4;">Register</a></li>
            <li *ngIf="authService.loggedIn()" class="nav-item"><a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a></li>
        </ul>
    </div>
</nav>