
<div class="container">
    <div class="row">
        <div class="card" style="width: 20rem; margin: 10px;" *ngFor="let annoucement of announcements; index as i;">
            <div class="card-body">
                <label>Id:&nbsp;{{annoucement._id}}</label><br>
                <label>Títutlo:&nbsp;{{annoucement.title}}</label><br>
                <label>Objetivo:&nbsp;{{annoucement.objective}}</label><br>
                <label>Fomentação:&nbsp;{{annoucement.fomentation}}</label><br>
                <label>Categoria:&nbsp;{{annoucement.category}}</label><br>
                <label>Data de Submissão:&nbsp;{{annoucement.dateSubmission}}</label><br>
                <label>CNPJ:&nbsp;{{annoucement.cnpj}}</label><br>
                <label>CPF:&nbsp;{{annoucement.cpf}}</label><br>
                <label>Url do Edital:&nbsp;<a [attr.href]="annoucement.urlDocument">{{annoucement.urlDocument}}</a></label><br>
                <p *ngIf="annoucement.available">
                    <label>Disponível:<i class="fa fa-check" style="font-size:20px;color:green"></i></label>
                    <br>
                    <button class="btn btn-primary" (click)="aplicarEdital(annoucement)">Aplicar a este Edital</button>

                </p>
                <p *ngIf="!annoucement.available">
                    <label>Disponível:<i class="fa fa-close" style="font-size:20px;color:red"></i></label>
                </p>

            </div>
        </div>
    </div>
</div>