.container {
    height: 100%;
    align-content: center;
}

.card-header h3 {
    color: #EEE7D4;
}

.card {
    padding: 10px;
    width: 300px;
    color: #EEE7D4;
    background-color: #3B4757;
}
.btn-primary {
    background-color: #FF7E3F;
    color: #EEE7D4;
    border-color: #FF7E3F;
}
.btn-primary:hover {
    background-color: #EEE7D4;
    border-color: #EEE7D4;
    color: #FF7E3F;
}