<!-- Card com Edital -->
<div class="container">
    <div class="row">
        <div class="card" style="width: 20rem; margin: 10px;" *ngFor="let notification of notifications" >
            <div class="card-body">
                <label>Id:&nbsp;{{notification.idAnnouncement}}&nbsp;</label><br>
                <label>Títutlo:&nbsp; {{notification.titleAnnouncement}}&nbsp;</label><br>
                <label>Objetivo:&nbsp; {{notification.objectiveAnnouncement}} &nbsp;</label><br>
                <label>Fomentação:&nbsp;{{notification.fomentationAnnouncement}} &nbsp;</label><br>
                <label>Categoria:&nbsp;{{notification.categoryAnnouncement}} &nbsp;</label><br>
                <label>Data de Submissão:&nbsp;{{notification.dateSubmissionAnnouncement}} &nbsp;</label><br>
                <label>CNPJ:&nbsp;{{notification.cnpjAnnouncement}} &nbsp;</label><br>
                <label>CPF:&nbsp;{{notification.cpfAnnouncement}}&nbsp;</label><br>
                <label>Url do Edital:&nbsp;{{notification.urlDocumentAnnouncement}}&nbsp;<a [attr.href]=""></a></label><br>
                
                
            </div>

            <div class="card-body">
                <label>Name:&nbsp;{{notification.nameUser}}</label><br>
                <label>Email:&nbsp;{{notification.emailUser}}</label><br>
                <label>Cpf:&nbsp;{{notification.cpfUser}}</label><br>
                <label>Cnpj:&nbsp;{{notification.cnpjUser}}</label><br>
                <label>Username:&nbsp;{{notification.usernameUser}}</label><br>
                
            </div>

        </div>
    </div>
</div>

<!-- Card com Empresa
<div class="container">
    <div class="row">
        <div class="card" style="width: 20rem; margin: 10px;" *ngFor="let notification of notifications">
            <div class="card-body">
                <label>Name:&nbsp;{{notification.nameUser}}</label><br>
                <label>Email:&nbsp;{{notification.emailUser}}</label><br>
                <label>Cpf:&nbsp;{{notification.cpfUser}}</label><br>
                <label>Cnpj:&nbsp;{{notification.cnpjUser}}</label><br>
                <label>Username:&nbsp;{{notification.usernameUser}}</label><br>
                
            </div>
        </div>
    </div>
</div>
-->
<!-- Form de Questions-->

<div class="container">
    <div class="card">
        <div class="card-header">
                <h3>Questões</h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                <div *ngFor="let q of question; index as x;">
                    <label>Questão {{ x || 0}}</label><br>
                    <input type="text" > &nbsp;<br>
                    <textarea></textarea><br>
                    <button type="button" class="btn btn-secondary" (click)="removeQuestion()">X</button>
                    <br>
                </div>
                <br><br>
            </div>
                <button type="button" class="btn btn-primary" (click)="addQuestion()">+</button>
        </div>
        <button type="button" class="btn btn-primary">Cadastrar</button>
    </div>
</div>




