<mat-horizontal-stepper>
    <mat-step label="Edital em aberto" state="phone">
      <p>Edital em aberto</p>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step label="Inscricoes encerradas, processo em andamento" state="chat">
      <p>Inscricoes encerradas, processo em andamento</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step label="Resultado FInal do Edital ">
      <p>Resultado Final do Edital </p>
      <div>
          <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
  
    <!-- Icon overrides. -->
    <ng-template matStepperIcon="phone">
      <mat-icon>call_end</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="chat">
      <mat-icon>forum</mat-icon>
    </ng-template>
</mat-horizontal-stepper>